bin/*
obj/*

build/*
!build/placeholder

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
# Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

lib/googletest/googletest/generated/

node_modules
package-lock.json

*.s
*.o
*.d


#Libre office draw
.~lock.*
